<?xml version="1.0" encoding="utf-8"?>

<Queries>
  <Query Id="GetWorkOrderBookings">
    <![CDATA[
<fetch distinct="false" mapping="logical" output-format="xml-platform" version="1.0" >
    <entity name="bookableresourcebooking" >
        <attribute name="createdon" />
        <attribute name="starttime" />
        <attribute name="resource" />
        <attribute name="endtime" />
        <attribute name="duration" />
        <attribute name="bookingtype" />
        <attribute name="bookingstatus" />
        <attribute name="bookableresourcebookingid" />
        <order descending="true" attribute="starttime" />
        <filter type="and" >
            <condition attribute="msdyn_workorder" value="{WorkOrderId}" uitype="msdyn_workorder"  operator="eq" />
        </filter>
    </entity>
</fetch>
    ]]>
  </Query>
</Queries>
